In [2]:
import pandas as pd

In [25]:
address_original_df = pd.read_csv("C:\\Users\\WebDev4\\Desktop\\afc_website\\db-scripts\\database-scripts\\customer_transformations\\address\\cust_addresses_2.csv")
address_original_df.head()

C:\Users\WebDev4\AppData\Local\Temp\ipykernel_30824\3739178069.py:1: DtypeWarning: Columns (6,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  address_original_df = pd.read_csv("C:\\Users\\WebDev4\\Desktop\\afc_website\\db-scripts\\database-scripts\\customer_transformations\\address\\cust_addresses_2.csv")

,addr_id,cust_id_fk,addr_shipping,addr_billing,addr_name,addr_company,addr_contact,addr_address,addr_address2,addr_city,...,addr_ext,addr_phone_mob,addr_fax,addr_email,creation,modified,mod_by,title,add,addr_resident
0,2,1,1,0,JK Test,NaN,Jared Kazimir,321 Address2,NaN,Clifton,...,NaN,NaN,NaN,jared@here.net,2010-03-03 10:21:49,2010-03-04 13:52:33,NaN,NaN,1,1
1,3,1,1,1,Jared 123,NaN,Jared,123 Jared ave,NaN,clifton,...,NaN,NaN,NaN,jared@here.net,2010-03-04 13:43:51,2010-03-04 13:43:51,NaN,NaN,1,1
2,4,24786,0,1,Xy Web Solutions,NaN,Jared Kazimir,179 Randolph Ave,Floor 2 Rear Apt,Clifton,...,NaN,NaN,NaN,jared@xywebsolutions.com,2010-03-04 15:04:29,2010-09-30 15:16:21,NaN,NaN,1,1
3,32031,27836,0,1,Artur Marnik,NaN,NaN,410 Harding Ave,NaN,Lyndhurst,...,NaN,NaN,NaN,artur@marnik.net,2012-06-23 12:27:22,2012-06-23 12:27:22,NaN,NaN,0,1
4,7,3,1,1,Nextcarrier Telecom,NaN,Boris Kudryavsky,11 Broadway,Floor 18,New York,...,NaN,NaN,NaN,borisk@nextcarrier.com,2010-03-04 15:10:24,2010-04-15 15:05:07,NaN,NaN,1,1

In [ ]:
address_transform_df = pd.DataFrame(columns=["original_customer_id", "address_contact", "address_1", "address_2", "city", "state", "zipcode", "shipping_flag", "billing_flag"])
address_transform_df

In [ ]:
# address_transform_df = address_original_df.rename(columns={"cust_id_fk": "original_customer_id", "addr_address" : "address_1", "addr_address2" : "address_2", 
# "addr_city" : "city", "addr_state" : "state", "addr_postcode" : "zipcode",
# "addr_shipping" : "shipping_flag", "addr_billing" : "billing_flag"})

address_transform_df["original_customer_id"] = address_original_df["cust_id_fk"]
address_transform_df["address_1"] = address_original_df["addr_address"] 
address_transform_df["address_2"] = address_original_df["addr_address2"]
address_transform_df["city"] = address_original_df["addr_city"]
address_transform_df["state"] = address_original_df["addr_state"]
address_transform_df["zipcode"] = address_original_df["addr_postcode"]
address_transform_df["shipping_flag"] = address_original_df["addr_shipping"]
address_transform_df["billing_flag"] = address_original_df["addr_billing"]


address_transform_df

In [ ]:
address_transform_df["address_contact"] = address_original_df["addr_contact"] if address_original_df["addr_contact"].any(skipna=True) else address_original_df["addr_name"]

address_transform_df.head()

In [ ]:
address_transform_df = address_transform_df.fillna('NULL')
address_transform_df

In [28]:
address_transform_df.to_csv("C:\\Users\\WebDev4\\Desktop\\afc_website\\db-scripts\\database-scripts\\database_csvs\\customer_info\\customer_addresses_trans_2.csv", index=False)